<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ravijeet.teleportal">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".TelePortalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".homeScreen.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".tvShowDetail.TvShowDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".tvShowSeasonDetail.TvShowSeasonDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".youtube.YoutubeVideoActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"/>

        <activity android:name=".favoriteScreen.FavoriteActivity"/>

        <provider
            android:authorities="com.ravijeet.teleportal"
            android:name=".data.TelePortalContentProvider"
            android:exported="true"/>

        <receiver android:name=".widget.FavoriteWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/favorite_widget_info" />
        </receiver>

        <service
            android:name=".widget.FavoriteWidgetIntentService"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
    </application>

</manifest>